In [3]:
#pre-lecture
import pandas as pd

url = 'https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv'
data = pd.read_csv(url)

In [4]:
# Display the first few rows of the dataset
print(data.head())

# Show the column names
print(data.columns)

# Get the number of rows and columns
print(data.shape)

   row_n       id     name  gender    species birthday personality  \
0      2  admiral  Admiral    male       bird     1-27      cranky
1      3  agent-s  Agent S  female   squirrel      7-2       peppy
2      4    agnes    Agnes  female        pig     4-21        uchi
3      6       al       Al    male    gorilla    10-18        lazy
4      7  alfonso  Alfonso    male  alligator      6-9        lazy

          song    phrase           full_id  \
0   Steep Hill   aye aye  villager-admiral
1      DJ K.K.  sidekick  villager-agent-s
2   K.K. House   snuffle    villager-agnes
3   Steep Hill   Ayyeeee       villager-al
4  Forest Life  it'sa me  villager-alfonso

                                                 url
0  https://villagerdb.com/images/villagers/thumb/...
1  https://villagerdb.com/images/villagers/thumb/...
2  https://villagerdb.com/images/villagers/thumb/...
3  https://villagerdb.com/images/villagers/thumb/...
4  https://villagerdb.com/images/villagers/thumb/...
Index(['row_n', 'id', 'name', 'gender', 'species', 'birthday', 'personality',
       'song', 'phrase', 'full_id', 'url'],
      dtype='object')
(391, 11)

In [5]:
# Get the column names
columns = data.columns.tolist()

# Get the number of rows and columns
num_rows, num_columns = data.shape

print("Columns:", columns)
print("Number of rows:", num_rows)
print("Number of columns:", num_columns)

Columns: ['row_n', 'id', 'name', 'gender', 'species', 'birthday', 'personality', 'song', 'phrase', 'full_id', 'url']
Number of rows: 391
Number of columns: 11

In [6]:
# Get the summary for categorical columns
categorical_summary = data.select_dtypes(include=['object']).describe(include='all')

# Get the summary for numerical columns
numerical_summary = data.select_dtypes(include=['number']).describe()

print("Categorical Columns Summary:")
print(categorical_summary)

print("\nNumerical Columns Summary:")
print(numerical_summary)

Categorical Columns Summary:
             id     name gender species birthday personality          song  \
count       390      391    391     391      391         391           380
unique      390      391      2      35      361           8            92
top     admiral  Admiral   male     cat     1-27        lazy  K.K. Country
freq          1        1    204      23        2          60            10

         phrase           full_id  \
count       391               391
unique      388               391
top     wee one  villager-admiral
freq          2                 1

                                                      url
count                                                 391
unique                                                391
top     https://villagerdb.com/images/villagers/thumb/...
freq                                                    1

Numerical Columns Summary:
            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000

In [7]:
#df.shape gives the total number of columns.
#df.describe() provides summary statistics only for numeric columns, so non-numeric columns are excluded
#The "count" in df.describe() shows the number of non-missing values in each numeric column, which can be less than the total number of rows due to missing data.

In [8]:
#Attribute:represents a property or characteristic of an object, accessed directly without parentheses.
#Method: Represents a function or action associated with an object, Called with parentheses.

In [11]:
#Post-lecture
import pandas as pd
import numpy as np

data = {
    'Product': ['A', 'B', 'C', 'D'],
    'Sales': [100, np.nan, 150, np.nan],
    'Profit': [20, 30, np.nan, 10]
}

df = pd.DataFrame(data)
print (df)

  Product  Sales  Profit
0       A  100.0    20.0
1       B    NaN    30.0
2       C  150.0     NaN
3       D    NaN    10.0

In [14]:
import pandas as pd
import numpy as np

# Create a DataFrame
data = {
    'Product': ['A', 'B', 'C', 'D'],
    'Sales': [100, np.nan, 150, np.nan],
    'Profit': [20, 30, np.nan, 10]
}
df = pd.DataFrame(data)

# Print the original DataFrame
print("Original DataFrame:")
print(df)

# Remove the 'Profit' column
del df['Profit']

# Print the DataFrame after deleting the 'Profit' column
print("\nDataFrame after deleting 'Profit' column:")
print(df)

Original DataFrame:
  Product  Sales  Profit
0       A  100.0    20.0
1       B    NaN    30.0
2       C  150.0     NaN
3       D    NaN    10.0

DataFrame after deleting 'Profit' column:
  Product  Sales
0       A  100.0
1       B    NaN
2       C  150.0
3       D    NaN

In [15]:
#Use df.dropna() when you need to remove rows (or columns) with missing values.
#Use del df['col'] when you want to remove a specific column entirely from the DataFrame.

In [17]:
import pandas as pd

# Create a DataFrame
data = {
    'Product': ['A', 'B', 'C', 'D'],
    'Sales': [100, 200, 150, 300],
    'Profit': [20, 30, 25, 40],
    'Discount': [5, 10, 0, 15]
}
df = pd.DataFrame(data)

# Print the original DataFrame
print("Original DataFrame:")
print(df)

# Suppose 'Discount' column is no longer needed
del df['Discount']

# Print the DataFrame after deleting the 'Discount' column
print("\nDataFrame after deleting 'Discount' column:")
print(df)

Original DataFrame:
  Product  Sales  Profit  Discount
0       A    100      20         5
1       B    200      30        10
2       C    150      25         0
3       D    300      40        15

DataFrame after deleting 'Discount' column:
  Product  Sales  Profit
0       A    100      20
1       B    200      30
2       C    150      25
3       D    300      40

In [18]:
#del df['col'] might be preferred:
#1.Irrelevant Data: If a column is irrelevant or redundant, removing it with del df['col'] is straightforward and effective.
#2.Clarity: Removing unnecessary columns can make the DataFrame easier to understand and work with.
#3.Memory Efficiency: Removing columns you don't need can help reduce the memory footprint of your DataFrame, especially if it has many columns

In [19]:
#Applying del df['col'] before df.dropna() can be important because its reduced the DataFrame size, leading to faster operations and lower memory usage and ensures df.dropna() only affects relevant columns, avoiding unintended data loss from unnecessary columns.

In [21]:
import pandas as pd
import numpy as np

# Create a DataFrame with missing values and an unnecessary column
data = {
    'Product': ['A', 'B', 'C', 'D'],
    'Sales': [100, np.nan, 150, np.nan],
    'Profit': [20, 30, np.nan, 10],
    'UnusedColumn': [1, 2, 3, 4]  # Column not needed
}
df = pd.DataFrame(data)

# Print the original DataFrame
print("Original DataFrame:")
print(df)

# Remove the 'UnusedColumn' as it is not needed for analysis
del df['UnusedColumn']

# Remove rows with missing values from the DataFrame
df_clean = df.dropna()

# Print the cleaned DataFrame after removing the irrelevant column and dropping rows with NaNs
print("\nCleaned DataFrame after removing irrelevant column and dropping NaNs:")
print(df_clean)

Original DataFrame:
  Product  Sales  Profit  UnusedColumn
0       A  100.0    20.0             1
1       B    NaN    30.0             2
2       C  150.0     NaN             3
3       D    NaN    10.0             4

Cleaned DataFrame after removing irrelevant column and dropping NaNs:
  Product  Sales  Profit
0       A  100.0    20.0

In [24]:
import pandas as pd

# Load the Titanic dataset
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

# Group by passenger class and describe age
summary_stats = df.groupby("pclass")["age"].describe()
print(summary_stats)

        count       mean        std   min   25%   50%   75%   max
pclass
1       186.0  38.233441  14.802856  0.92  27.0  37.0  49.0  80.0
2       173.0  29.877630  14.001077  0.67  23.0  29.0  36.0  70.0
3       355.0  25.140620  12.495398  0.42  18.0  24.0  32.0  74.0